body {
  background-color: #c2d4d8;
  background: #454de5 url(../img/pattern_3.svg) no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
