{% extends 'base.html' %}

{% block content %}

  <h2>Welcome to the Polydimensional Mock Test! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a> (or)
    If you are new to Polydimensional, get started
    by creating a <a style="margin-top: 20px;margin-right: 10px;" class="button button-primary" href="{% url 'student_signup' %}">student account</a> <a class="button" href="{% url 'teacher_signup' %}">teacher account</a>
  </p>
{% endblock %}
